.landingpage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 180px;
}

.filler {
    width: 380px;
    height: 480px;
    padding: 20px;
    border-radius: 8%;
}
.text {
    font-size: 25px;
    color: black;
    padding-left: 45px;
}
