.project {
    width: 400px;
    height: 350px;
    padding: 32px;

}

.project img {
    width: 400px;
    height: 350px; 
    margin-top: 15px;
    
}
.project-textbox {
    border: solid black;
    background-color: rgba(255, 255, 255, 0.301);
    font-size: 15px;
    height: 200px;
    text-align: center;
    color: black;
    padding: 5px;
    
}
.projects {
    display:flex;
    justify-content: center;
    color: black;
    font-size: 5px;
    margin-top: 50px;

}
#project-header  {
    margin-top: 85px;
}