.Game {
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 350px;
    padding: 25px;
}

.Calculator {    
    justify-content: cemter;
    align-items: center;
    width: 400px;
    height: 350px;
    padding: 25px;
}