.about {
    margin-top: 100px;
}

#AboutIcons {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.premierepro {
    padding: 5px;
    color: purple;
}

.photoshop {
    padding: 5px;
    color: navy
}

.canva {
    padding: 5px;
    color: teal;
}

.css {
    padding: 5px;
    color: blue
}

.github {
    padding: 5px;
    color: black;
}

.html {
    padding: 5px;
    color: orange;
}

.javascript {
    padding: 5px;
    color: yellow
}

.react {
    padding: 5px;
    color: lightskyblue
}

.shopify {
    padding: 5px;
    color: green;
}

.youtube {
    padding: 5px;
    color: darkred;
    font-size: larger;
}

.about-textbox {
    text-align: center;
    width: 850px;
    color: black;
    background-color: rgba(255, 255, 255, 0.301);
    border: solid 3px rgb(0, 0, 0);
    font-size: 12px;
    margin: auto;
    margin-bottom: 45px;
    padding: 10px;
}
