.icons {
    font-size: 40px;
    display: flex;

}

a:visited {
    color:white
}

a:focus {
    color: navy;
}

.linkedin {
    padding: 10px;
    color: navy
}

.github {
    padding: 10px;
    color: black;
}

.contact {
    color: black;
    margin-top: 75px;
    
}