
.test-image {
    width: 420px;
    height: 400px;
    padding: 10px;
}


.testimonial-page h1 {
    font-size: 60px;
    color: black;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 30px;

}
