#testimonials {
    align-items: center;
    justify-content: center;

}


.Cissy {
    width: 420px;
    height: 400px;
    padding: 10px;
    justify-content: center;
    flex-direction: row;
}

.Barb {
    width: 420px;
    height: 400px;
    padding: 10px;
    justify-content: center;
    flex-direction: row;
}